@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h2>Welcome Admin. Now you can Create, Edit, and Delete user Role.</h2>
}
else
{
    <h2>Welcome<strong>@ViewBag.Name</strong>! Please click @Html.ActionLink("", "", "") --> Redirect to User or Profile</h2>
}

<p>
    @Html.ActionLink("Create Role", "RolesAdmin", "CreateRole")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>
                @role.Id
            </td>
            <td>
                @role.Name
            </td>
            <td>
                <form action="DeleteRole" id="@role.Id" method="post">
                    @Html.ActionLink("Edit", "EditRole", "RolesAdmin", new { RoleId = role.Id }, null)
                    @*<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you wan to delete role @role.Name)">Delete</button>*@

                    <span id="confirmDeleteSpan_@role.Id" style="display: none;">
                        <span>Are you sure you want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary" onclick="ConfirmDelete('@role.Id', false)">No</a>
                    </span>
                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete('@role.Id', true)">Delete</a>
                    </span>
                </form>

                @*@Html.ActionLink("Edit", "EditRole", "RolesAdmin", new { id = role.Id }) |
                @Html.ActionLink("Details", "Details", "RolesAdmin", new { id = role.Id }) |
                @Html.ActionLink("Delete", "DeleteRole", "RolesAdmin", new { id = role.Id })*@
            </td>
        </tr>
    }
</table>
<div class="form-group">
    <div class="col-md-2">
        <button onclick="return CreateRole()" class="btn">Create Role</button>
        <button onclick="return ListRoles()" class="btn">List Roles</button>
    </div>
</div>

<script>
    function CreateRole() {
        window.location.href = "/RolesAdmin/CreateRole";

    }

    function ListRoles() {
        window.location.href = "/RolesAdmin/ListRoles";

    }

    function ConfirmDelete(id, isDeleteClicked) {
        var confirmDeleteSpan = 'confirmDeleteSpan_' + id;
        var deleteSpan = 'deleteSpan_' + id;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();

        }
        else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }

    }
</script>



