@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @if (ViewBag.displayMenu == "Yes")
        {
            <h3>Welcome <strong>@ViewBag.Name</strong>!</h3>
            <table class="table table-condensed">
                <thead class="thead-dark">
                    <tr>
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>User Role</th>
                        <th>User Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @if (Model.Any())
                            {
                                foreach (var user in Model)
                                {
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            User Id: @user.Id
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                User Name: @user.UserName
                                            </h5>
                                        </div>
                                        @*<div class="card-body">
                                            <h5 class="card-title">
                                                User Role: @user.UserRole
                                            </h5>
                                        </div>*@
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Email: @user.Email
                                            </h5>
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <h4>
                @Html.ActionLink("Create User", "UsersAdmin", "CreateUser")
                @Html.ActionLink("Overview", "Overview", "Admin")
            </h4>
        }
        else
        {
            <h2>Welcome <strong>@ViewBag.Name</strong></h2>
            <h4>
                @Html.ActionLink("Overview", "Employee", "Overview")
            </h4>
        }


    </div>
</body>
</html>





