@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <hr />
    @if (ViewBag.displayMenu == "Yes")
    {
        <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #2e4593;">
                <h3 class="box-title">
                    <b>User Information</b>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
                    <thead>
                        <tr>
                            <td><b>Id</b></td>
                            <td><b>Username</b></td>
                            <td><b>Email</b></td>
                            <td><b>UserRole</b></td>
                            <td><b>Employee #</b></td>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <div class="card-header">
                                @ViewBag.userId
                            </div>
                        </td>
                        <td>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @ViewBag.userName
                                </h5>
                            </div>
                        </td>
                        <td>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @ViewBag.Email
                                </h5>
                            </div>
                        </td>
                        <td>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @ViewBag.UserRole
                                </h5>
                            </div>
                        </td>
                        <td>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @ViewBag.EmployeeNumber
                                </h5>
                            </div>
                        </td>
                    </tr>
                </table>
                <div>
                    <button onclick="return NewEmployeeEnrollment()" class="btn">Enroll</button>
                </div>

                @*<h4>
                        @Html.ActionLink("Continue", "Overview", "Employee", new { userId = @ViewBag.userId }, null)
                    </h4>*@
            </div>
        </div>
    }

</body>
</html>

<style>
    .btn:hover {
        background-color: #2e4593;
        color: white;
    }
</style>
<script>
    function NewEmployeeEnrollment() {
        window.location.href = "/Employee/EnrollmentSelection";

    }
</script>
