@model WatsonDB.Employee
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*<script src="https://kit.fontawesome.com/2987c70fa3.js" crossorigin="anonymous"></script>*@
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Overview</title>
</head>
<body>
    <hr />
    <h4>Overview</h4>
    <input type="hidden" id="userId" class="form-control" name="Id" value="@ViewBag.userId" />
    <input type="hidden" id="FirstName" class="form-control" name="FirstName" value="@ViewBag.FirstName" />
    <input type="hidden" id="LastName" class="form-control" name="LastName" value="@ViewBag.LastName" />
    <table class="table table-condensed">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Employee Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>
                        <i class="fa fa-arrow-circle-o-right" style="font-size:24px" onclick="FamilyOverview()"></i>
                    </span>
                </td>
                <td>
                    <input type="text" id="EmployeeNumber" class="form-control" name="EmployeeNumber" value="@ViewBag.EmployeeNumber" readonly />
                </td>
                <td>
                    <input type="text" id="FirstName" class="form-control" name="FirstName" value="@ViewBag.FirstName" readonly />
                </td>
                <td>
                    <input type="text" id="LastName" class="form-control" name="LastName" value="@ViewBag.LastName" readonly />
                </td>
                <td>
                    <input type="text" id="EmailAddress" class="form-control" name="EmailAddress" value="@ViewBag.Email" readonly />
                </td>
                <td>
                    @Html.ActionLink("Detail", "EmployeeDetail", "Employee", new { Employee_id = ViewBag.Employee_id }, null)
                    @Html.ActionLink("Insurance", "GroupHealthEnrollment", "Group_Health", new { Employee_id = ViewBag.Employee_id }, null)
                    @Html.ActionLink("Delete", "DeleteEmployee", "Employee", new { Employee_id = ViewBag.Employee_id }, null)
                </td>
            </tr>
        </tbody>
    </table>
    @*<div class="form-group">
            <div class="col-md-2">
                <button onclick="return NewEmployeeEnrollment()" class="btn">Create New Employee</button>
            </div>
        </div>*@
</body>
</html>

<style>
    .button {
        text-align: right;
    }

    .btn:hover {
        background-color: #2e4593;
        color: white;
    }

    .next {
        background-color: #2e4593;
        padding-left: 1px;
    }

    .round {
        border-radius: 50%;
    }

    a {
        text-decoration: none;
        display: inline-flex;
        padding: 8px 8px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .fa-arrow-circle-o-right:hover {
        border-radius: 50%;
        color: white;
        background-color: #2e4593;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

        table tr {
            border-bottom: 1px solid black;
        }
</style>

<script>
    function NewEmployeeEnrollment() {
        window.location.href = "/Employee/EnrollmentSelection";

    }

    function FamilyOverview() {
        window.location.href = "/Employee/FamilyOverview"; 
    }



</script>




